@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
    background-color: #F7F4F3;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
}

.main {
    padding: 1em;
    height: 100%;
    padding: 5px 30px;
    z-index: 1;
    position: relative;
}

ul {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}

li {
    margin: 1.5em 0;
}

h1 {
    padding: 0;
    margin: 1em 0;
    font-size: 2.2em;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
}

a, a:link, a:visited {
    font-size: 1.5em;
    font-weight: 700;
    color: #444444;
    text-decoration: none;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
}

a:hover {
    color: #AAAAAA;
}

.shapes {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.shape {
    position: absolute;
    transition: all 500ms ease-out;
    width: 200px;
}

.shape1 {
    top: 10%;
    left: 10%;
    width: 250px;
}

.shape2 {
    right: 10%;
    bottom: 5%;
    width: 300px;
}

.shape3 {
    bottom: -10%;
    left: 40%;
    width: 400px;
}

.shape4 {
    left: -2%;
    bottom: -5%;
    width: 350px;
}

.shape5 {
    left: 50%;
    top: -10%;
    width: 400px;
}

.shape6 {
    right: -5%;
    top: 25%;
    width: 150px;
}

.shape7 {
    top: 4%;
    right: 0;
}

@media (max-width: 600px) {
    .shape5,
    .shape2 {
        display: none;
    }
}
