@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
    background-color: #F7F4F3;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #444444;
}

.main {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
    max-width: 800px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4rem;
    box-sizing: border-box;
    padding: 2rem 4rem; 
}

ul {
    padding: 0;
    margin: 1rem 0;
    list-style-type: none;
}

li {
    margin: 1.5rem 0;
}

h1 {
    padding: 0 4rem;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
}

h1.second {
    margin-top: 2rem;
}

a, a:link, a:visited {
    font-size: 1.2rem;
    font-weight: 700;
    color: #444444;
    text-decoration: none;
}

a:hover {
    color: #AAAAAA;
}

.shapes {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.shape {
    position: absolute;
    transition: all 500ms ease-out;
    width: 200px;
}

.shape0 {
    top: 4%;
    right: 0;
}

.shape1 {
    top: 10%;
    left: 10%;
    width: 250px;
}

.shape2 {
    right: 10%;
    bottom: 5%;
    width: 300px;
}

.shape3 {
    bottom: -10%;
    left: 40%;
    width: 400px;
}

.shape4 {
    left: -2%;
    bottom: -5%;
    width: 350px;
}

.shape5 {
    left: 50%;
    top: -10%;
    width: 400px;
}

.shape6 {
    right: -2%;
    top: 25%;
    width: 150px;
}

@media (max-width: 600px), (max-height: 812px) {
    .shape1,
    .shape2,
    .shape6,
    .shape0 {
        display: none;
    }

    html, body {
        height: auto;
    }
}

@media (max-width: 400px) {
    h1 {
        padding: 0 1rem;
    }

    section {
        border-radius: 0;
        padding: 1rem;
    }
}
